@font-face {
    font-family: 'Alaska';
    src: url('../static/alaska.ttf');
}

@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/brands.scss";
@import "./fontawesome/solid.scss";

$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Alaska;
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill {
    color: rgb(255, 255, 255, 0.555)
}

.main {
    height: 100vh;
}

.box {
    width: 320px;
    height: 320px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.288);
    border-radius: 23px;
    flex-direction: column;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 40px;

    @media (min-width: $breakpoint-mobile) {
        width: 450px;
        height: 450px;
    }

    img {
        width: 165px;
        height: auto;
        border-radius: 50px;
        margin-bottom: 1rem;

        @media (min-width: $breakpoint-mobile) {
            width: 200px;
        }
    }
}

.user_name {
    margin-bottom: 5px;
    font-size: 2rem;

    @media (min-width: $breakpoint-mobile) {
        font-size: 3.5rem;
    }
}

.cancel {
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 23px 0;
    color: rgb(70,70,70);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .4s;
}

.arr_container {
    @extend .cancel;

    i {
        transform: rotate(45deg);
    }
}

.active_arr {
    transform: translate(80%, 80%);
}

.off {
    transform: translate(-87%, -87%) rotate(90deg);
}

.active {
    transform: translate(0) rotate(0);
}

.left_container {
    position: absolute;
    background: #0f2027;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    padding: 40px 0 0 20px;
    transition: all .4s;

    p {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #cfcfcf;

        @media (min-width: $breakpoint-mobile) {
            margin-bottom: 2rem;
            font-size: 3rem;
        }
    }

    .skills {
        margin-bottom: 1.2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.1rem;
        align-content: center;
    
        div {
            display: inline-block;
            color: rgb(155, 155, 155);
            border: 1px solid rgb(155, 155, 155);
            padding: 5px 10px;
            font-size: 1.1rem;
            margin: 4px 4px 4px 0;
        }

        i {
            color: #cfcfcf;
            cursor: pointer;
            margin-right: 10px;
            margin-top: 7px;
            transition: all .4s;
            font-size: 2.5em;

            @media (min-width: $breakpoint-mobile) {
                font-size: 3rem;
            }

            &:hover {
                color: #2c5364;
            }
        }

        .jquery {
            width: 2.5em;
            height: auto;
            border-radius: 0;
            margin-right: 10px;
            margin-top: 7px;
            transition: all .4s;

            @media (min-width: $breakpoint-mobile) {
                width: 3em;
            }

            &:hover {
                fill: #2c5364;
            }
        }

        a:link,
        a:focus,
        a:visited {
            color: #cfcfcf;
        }
    }

    .icons {
        margin-top: 2rem;
        text-align: center;

        @media (min-width: $breakpoint-mobile) {
            font-size: 1.6rem;
            margin-top: 4.2rem;
        }

        i {
            color: #cfcfcf;
            cursor: pointer;
            margin-right: 10px;
            transition: all .4s;

            &:hover {
                color: #2c5364;
            }
        }

        a:link,
        a:focus,
        a:visited {
            color: #cfcfcf;
        }
    }
}
